{% extends "layout.html" %}

{% block content %}

<div class="jumbotron text-center">
    <h1 class="display-3">About</h1>
    <p class="lead">DITU ASSISTANT <br/>Version : 1.0.0</p>
    <br/>
    <span>© Copyright Stark Technologies 2018</span><br/>
    <span>Developed By: <a href="https://www.linkedin.com/in/abhijeet-anand-shah-aba29535/">Abhijeet Anand Shah</a> | <a href="https://www.linkedin.com/in/aditya-prakash-7826237a/">Aditya Prakash</a> | <a href="#">Gunjan Kumar</a> | <a href="#">Harshit Arora</a></span>
    <br/>
    <span>DITU - Batch(2015-19) B.Tech. CSE-D</span>
    <br/>
    <span>Under the Guidance of : <a href="#">Mr. Vishal Sharma</a> </span>
</div>

{% endblock %}