{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="row">

        <h2>{{ department_detail.department_name }}</h2>
        <!-- formatting required -->
        <p>{{ department_detail.department_description }}</p>

        <!-- add button later -->
        <p><a href="/ditu/department/create">Create Department</a></p>
        <p><a href="{{ department_detail.url }}/delete">Delete Department</a></p>
        <p><a href="{{ department_detail.url }}/update">Update Department</a></p>

    </div>
</div>


{% endblock %}