{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="row">

        <form action="" method="POST">
            <div class="form-group">
                <label for="name">Name</label>
                <input name="name" type="text" placeholder="Name of department" required="true">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input name="description" type="text" placeholder="About department" required="true">

                <input type="submit" value="submit" name="submit" class="btn btn-primary">
            </div>
        </form>

        {% if errors%}
        <ul>
            {% for error in errors%}
            <li>{{error}}</li>
            {% else %}
            <li>This would display if the 'item' collection were empty</li>
            {% endfor %}
        </ul>
        {% endif %}

    </div>
</div>
{% endblock %}