<html>
    <div style="width:8.27in;height:11.69in;border-style: outset;border-width: 5px;margin: 50px;">
        <div style="margin:30px;">
        <head>
            <title>Question Paper</title>
            <p style="float:left;">Paper Code : XY1234</p>
            <p style="float: right;">Printed Page 1 of 2</p><br/><br/>
            <h3 style="text-align: center;">DIT UNIVERSITY, DEHRADUN</h3>
            <h3 style="text-align: center;">B.TECH (CSE,IT) END TERM EVEN SEM 2018-19(SEM VIII)</h3>
        </head>
        <body>

        </body>
    </div> 
    </div>
</html>