{% extends "layout.html" %}

{% block content %}

<form action="" method="post">

<div style="margin-left: 15px;">
    <h2>Questions</h2>

    <h4 style="text-align: left;">2.5 marks :</h4>
    <ul>
    {% for question in data %}
    {% if question.marks_tag==2.5 %}
    <input name="questions" value="{{ question._id }}" type="checkbox" id="{{ question._id }}">
    {{ question.question_text }}<br/>
    {% endif %}
    {% endfor %}
    </ul>
    <h4 style="text-align: left;">5 marks :</h4>
    <ul>
        {% for question in data %}
        {% if question.marks_tag==5 %}
        <input name="questions" value="{{ question._id }}" type="checkbox" id="{{ question._id }}">
    {{ question.question_text }}<br/>
        {% endif %}
        {% endfor %}
    </ul>
    <h4 style="text-align: left;">10 marks :</h4>
    <ul>
        {% for question in data %}
        {% if question.marks_tag==10 %}
        <input name="questions" value="{{ question._id }}" type="checkbox" id="{{ question._id }}">
    {{ question.question_text }}<br/>
        {% endif %}
        {% endfor %}
    </ul>
</div>

<button type="submit" class="btn btn-primary" value="Submit">Generate Question Paper</button>

</form>
      
{% endblock %}