{% extends "layout.html" %}

{% block content %}
<h2>Welcome to DITU ASSISTANT</h2>

<div class="container" style="display: inline;">
    <div class="main-div-question">
<div class="row">
    <!-- <div class="col-md-6 mx-auto"> -->
        <!-- <div class="card card-body"> -->
            <h3 class="text-center"></h3>Faculty Registration</h3>
            <form action="" method="post">
                <div class="form-group">
                    <label for="sap_id">SAP ID</label>
                    <input type="text" name="sap_id" id="sap_id" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="first_name">First Name</label>
                    <input type="text" name="first_name" id="first_name" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="last_name">Last Name</label>
                    <input type="text" name="last_name" id="last_name" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="date_of_birth">Date of Birth</label>
                    <input type="date" name="date_of_birth" id="date_of_birth" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="form-control" required>
                </div>
                <!-- <div class="form-group">
                    <label for="department">Department</label>
                    <input type="text" name="department" id="department" class="form-control" value="CSE" required>
                </div> -->
                <div class="form-group">
                    <select name="subjects">
                        {% for subject in subjects %}
                        <option value="{{ subject._id }}">{{ subject.subject_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        <!-- </div> -->
    <!-- </div> -->
</div>
    </div></div>


{% endblock %}